.about-page
  color inherit

  .team-members
    align-items: flex-start
    display: flex
    flex-wrap: wrap

    .team-member
      box-sizing: border-box
      padding: 0 20px 40px 0
      width: 33%

      .name
        color: black
        font-weight: 700

      .location
        color: #888

  .organization
    clear: both
    padding: 0 0 20px 0

  .logo
    float: right
    max-width: 22%
    padding: 0 0 20px 25px
