.classifier
  color inherit
  #subject-container
    width 1090px
    margin 0 auto
    .subject-header
      h3
        color white
      p, h3
        padding-left 20px
      #lesson-prompt
        height 25px
        margin-top 5px
        margin-bottom 10px
        padding-left 20px
        vertical-align middle
        font-size 1em
        color white
        background-color #3E89AF
        width inherit
        border-radius: 0.3em
      .lesson-button
        padding 0px 5px 0px 5px
        height 100%
        margin auto
        color black
        border none
        transition 0.4s
        &:hover
          color white
          background-color rgba(0,0,0,0.5)
          transition 0.4s
      .lesson-close
        padding 9px
        float right

    #graph-container
      float left
      position relative

      #graph
        float left
        border 1px solid rgb(50,50,50)
        background rgba(13,21,24,0.75)
        z-index 3

      #marks-container
        height 420px
        width 1026px
        overflow hidden
        float left
        position relative

      #classify-summary
        display none
        position absolute
        top 0px
        height 450px
        width 100%
        z-index 100
        border-radius 5px
        .three-column
          margin 0
          padding 0
          float left
          width 33.33%
          height 100%
          background-color rgba(13,21,24,0.9)
          &:nth-child(1)
            background-color #fc4541
            border-radius 5px 0 0 5px
          &:nth-child(3)
            border-radius 0 5px 5px 0
          .content
            padding 20px
            color #fff
            p
              margin-bottom 10px
            h1, h2
              margin-bottom 30px
            h1
              font-weight 300
              font-size 24px
            h2
              text-transform uppercase
              font-size 14px
              line-height 36px
            button
              width 100%
            .talk-pill
              display none
              button
                vertical-align middle
                border 2px solid #fff
                height 64px
                border-radius 0 5px 5px 0
                margin-left -10px
                width 33%
                background-color #fff
                color black
                border-left none
                &:active
                  transform translateY(0px)
              textarea
                outline none
                padding 0
                border-right none
                resize none
                width 66%
                vertical-align middle
                height 60px
                color #fff
                background transparent
                border 2px solid #fff
                border-radius 5px 0 0 5px
            .formatted-comment
              border-bottom 1px solid #848b92
              margin-bottom 20px
              p
                &:not(:nth-child(1))
                  font-size 10px
                  font-style italic
                  span
                    color #fff

      #tools
        float left
        width 50px   // account for padding
        height 430px // account for padding
        padding 5px
        background-color rgb(50,50,50)
        h3
          font-style italic
          font-size 0.9em
        button
          padding 5px
          margin 5px 0px 5px 0px
          text-align center
          font-size 0.75em
          opacity 0.5
          &:active
            transform translateY(1px)
            box-shadow none
          &:hover
            opacity 1.0

        .tool-button
          border none
          color white
          background-color rgb(50,50,50)
          height 60px
          width 50px
          border-radius 0.3em
          transition 0.3s
          &:hover
            background-color #4C4C4C //#151A1B
            border-radius 0.3em
            opacity 1.0
          
          &.toggled
            background-color #151A1B
            transition 0.3s

      .faux-range-input
        width 1024px
        height 18px
        vertical-align middle
        background black //#25b4c5
        cursor ew-resize
        cursor -webkit-grab
        top -20px
        border 1px solid rgb(50,50,50)
        &:before
          content "1.2.3.4.5.6.7"
          margin 0px
          font-size 12px
          top 0
          letter-spacing 79px
        .faux-range-track
          width 768px // (1078-256px)
        .faux-range-thumb
          margin -1px 0 0 -8px
          background rgba(50,50,50,0.75) //#1b7a85
          outline none
          border 1px solid #5e5e5e
          width 256px
          height 20px
          border-radius 4px
          top 0px
          &:before
            text-align center
            line-height 20px
            content "III"
            position absolute
            margin 0px
            font-size 12px
            width 100%
            z-index 5
        .faux-range-tick
          display none

  button
    &[name="no-transits"]
      float right
      opacity 0.5
      font-weight bold
      &:hover
        opacity .9
    &[name="finished"]
      display none
      float right
    &[name="next-subject"]
      display none
      float right
