MAIN_FONT_FAMILY = 'Open Sans', sans-serif

// PLANET_POSITION = 

SITE_WIDTH = 80%

BUTTON_YELLOW = #deb85b
OFF_WHITE = #fbffff

h1, h2, h3, h4, h5, h6, p, .zootorial-dialog
  margin 0px
  -webkit-font-smoothing antialiased
  
button
  padding 5px
  margin 5px 0px 5px 0px
  text-align center
  font-size 0.75em
  border 1px solid
  &:active
    transform translateY(1px)
    box-shadow none
  &:hover
    opacity 1.0

#_STANDARD_BUTTON
  border 1px solid
  border-radius 0.3em
  display inline-block
  margin 0 0.2em
  padding 0.4em 1.6em
  &:active
    transform translateY(1px)
    box-shadow none
  &:hover
    opacity 0.95

.std-btn
  border-radius 5px
  height 40px
  line-height 40px
  padding 0 35px
  color OFF_WHITE
  font-weight bold
  font-size 12px
  border 2px solid transparent
  &.big-btn
    height 60px
    line-height 60px
    font-size 16px
    border 2px solid transparent
  &.yellow
    background-color BUTTON_YELLOW
  &.transparent
    border-color OFF_WHITE
  &.white
    background-color OFF_WHITE
    color #000

// Manual griddage
// Set something like {float: left; margin-right: unit(GUTTER_WIDTH, 'px'); width: columns(4);}
COLUMNS = 16
COLUMN_WIDTH = 40
GUTTER_WIDTH = 20
GRID_WIDTH = ((COLUMN_WIDTH + GUTTER_WIDTH) * COLUMNS) - GUTTER_WIDTH

columns(cols)
  unit(((cols * (COLUMN_WIDTH / GRID_WIDTH)) + ((cols - 1) * (GUTTER_WIDTH / GRID_WIDTH))) * 100, '%')