.education
  color inherit
  
  .calculator
    table 
      // border-radius 6px
      // border none
      margin-left auto
      margin-right auto
      
    th 
      // border 2px solid #fff
      background #808080
      color white
      padding 5px
      
    td 
      // border 2px solid black
      border none
      padding 5px
      text-align center    
      height 20px
    
    .button_row 
      border-bottom none
      border-left none
      border-right none
      height 30px
    
    .button 
      @extends #_STANDARD_BUTTON 
    
    li 
      list-style none
    

