.education
  color inherit
  
  .calculator
    table 
      margin-left auto
      margin-right auto
      
    th 
      background #808080
      color white
      padding 5px
      
    td 
      // border 2px solid black
      border none
      padding 5px
      text-align center    
      height 20px
    
    .button_row 
      border-bottom none
      border-left none
      border-right none
      height 30px
    
    .button 
      @extends #_STANDARD_BUTTON 
      background-color #deb85b
      transition 0.25s
      &:hover
        transition 0.25s
        color #000
    
    li 
      list-style none
    

