.home-page
  color inherit

  .bg-overlay
    background-color rgba(19,34,44,0.75)

  .call-to-action
    // @extends #_HOME_BUTTON
    border 1px solid transparent
    font-weight bold
    // margin-right 10px
    // line-height 640px

    .description
    	// margin 40px 0px 40px 0px
    	text-align left
    	line-height 730px

    h1
    	color white
    	font-weight normal
    	font-size 3em
    	letter-spacing 2px
    	text-transform none
    	line-height 640px

    button
    	@extends #_HOME_BUTTON

