.home-page
  color #fff
  font-family MAIN_FONT_FAMILY
  -webkit-font-smoothing antialiased
  min-height 630px

  .content-block
    padding-left 20px
    padding-right 20px
    // display table
    .content-container
      // display table-row
      margin 128px auto
      min-width 1090px
      @media screen and (max-width: 960px)
        min-width 480px

  .call-to-action
    margin-bottom 50px
    // margin-left 100px
    font-size 65px
    font-weight 300
  .description
    // margin-left 100px
    font-size 18px
    font-weight 200

  a.standard-link
    border: none
    color: inherit
    font-size: inherit
    line-height: inherit
    margin: 0
    padding: 0
    text-decoration: underline

  a
    @extends #_STANDARD_BUTTON
    font-size 14px
    color #000
    height 40px
    line-height 40px
    &#begin-classifying
      margin 20px 0px 20px 0px
      color #fff
      background-color #e4c460
      border-color #e4c460
      border-width 1px
      border-radius 4px
      font-weight 700
      @media screen and (max-width: 960px)
        display block
        margin 20px 0 0 0
        height 30px
        font-size 22px
        text-align center
        line-height 30px
      @media screen and (max-width: 960px)
        display block
    &#learn-more
      background-color none
      color #fff
      font-weight 300
      font-size 14px
      @media screen and (max-width: 960px)
        display block
        margin 20px 0 0 0
        height 30px
        font-size 22px
        text-align center
        line-height 30px
      @media screen and (max-width: 960px)
        display block

  #social-media
    background none
    #social-icons
      display inline-block
      float left
      a
        border none
        padding 0px
      img
        width 18px
        height 18px
        opacity 0.8
        &:hover
          opacity 1.0
