.home-page
  color inherit

  .content-container
    margin-top 10%

  .bg-overlay
    background-color rgba(19,34,44,0.75)

  .call-to-action
    // margin-top 20%
    float left
    font-family "Open Sans Condensed"
    font-weight 300
    // background-color rgba(200,20,20,0.5)
  .are-you-ready
    color #fff
    font-size 65px
  .description
    font-size 18px

  button
    @extends #_STANDARD_BUTTON
    color #fff  
    &#begin-classifying
      background-color #e4c460
      border none
    &#learn-more
      background-color none


