html
  background-color black
  color gray
  font 14px MAIN_FONT_FAMILY
  font-weight 400
  height 100%
  overflow-x auto
  overflow-y scroll
  position relative
  width 100%

body
  margin 0

.bg-overlay
  background-color rgba(19,34,44,0.92)
  background-size cover
  position absolute
  top 0px
  width 100%
  min-height 730px
  z-index -1

.bg-planet
  background-image url('images/planet.png');
  position absolute
  width 530px
  height 530px
  z-index -1
  top 10%
  right 5% //800px

.bg-moon
  background-image url('images/moon.png');
  background-size cover
  position absolute
  width 75px
  height 75px
  z-index -1

  top 45%
  left 40% //700px

.bg-starfield-sun
  background-image url('images/field-sun.jpg');
  background-size cover
  position absolute
  top 0px
  width 100%
  min-height 730px
  z-index -1

.content-block
  clearfix()
  min-height 680px
  margin 0 auto
  z-index -5
  padding: 50px 10px 0 10px

  .content-container
    clearfix()
    margin 0 auto
    z-index 10
    max-width 768px
    h1, h2, h3
      text-transform uppercase
    .intro
      h1
        color #090909
        font-size 16px
        margin 70px 0 20px 0
      p
        color #8d8a8a
        font-size 30px
        margin-bottom 50px
    .content
      padding 5px 20px
  .black-bg
    background-color #000
    color OFF_WHITE
  .white-bg
    background-color #fff
    color #8D8A8A
  .grey-bg
    background-color #d5d5d5

.quarter-column
  float left
  width columns(4)
  margin-right unit((GUTTER_WIDTH / GRID_WIDTH) * 100, '%')
  margin-bottom 1rem
  &:nth-child(4n)
    margin-right 0

  img,
  svg
    max-width 100%

.instructions
  display block
  width 512px
  margin 0 auto
  text-align center
  .question
    display table-cell
    padding-right 1em
    text-align center
    vertical-align middle
  .answers
    display inline
    text-align center
    vertical-align middle
    white-space nowrap
    button
      @extends #_STANDARD_BUTTON

.view-toggle
  display block
  width 200px
  text-align center
  .question
    display table-cell
    padding-right 1em
    text-align centers
    vertical-align middle
  .answers
    display inline
    text-align center
    vertical-align middle
    white-space nowrap
    button
      @extends #_STANDARD_BUTTON

.caption
  font-size 12px

hr
  border 1px solid transparent
  border-top-color inherit

a
  color inherit
  text-decoration none

button
  appearance none
  background transparent
  border 0
  color inherit
  cursor pointer
  font inherit
  margin 0
  padding 0
  outline none
  &:disabled
    color white
    pointer-events none
  &:hover
    opacity 0.95
