.zooniverse-profile
  padding-left 20px
  padding-right 20px
.intro, .content
  padding-top 20px
  padding-left 20px
.secondary-white
  // border red thin solid
  overflow hidden

.item 
  width 50%

.graph
  background-color rgba(19,34,44,0.75)
  box-shadow
  border solid thin white

  &:hover
    background-color rgba(19,34,44,0.92)
    border solid thin black
    box-shadow: 0 3px 5px rgba(#000, 0.5)
    transition all 0.3s
  // margin 10px

.caption
  text-align center
