.science-page
  color inherit

  .faq
    &.link
      text-decoration underline
      cursor pointer
      margin 0px
      color #000
      font-weight 100
      &:hover
        color #2c789b
    &.up
      cursor pointer
    &.hr
      margin-top 20px
      margin-bottom 40px
    &.up-image
      width 20px
      height 20px
      margin-left 10px
      vertical-align text-bottom