.science-page
  color inherit

  .faq
    &.link
      text-decoration underline
      cursor pointer
      margin 0px
      color #000
      // float left
    &.up
      position absolute
      // float left
      cursor pointer
    &.hr
      margin-top 20px
      margin-bottom 40px
    &.up-image
      width 20px
      height 20px
      vertical-align text-bottom