.site-navigation
  background-color #000
  color: #fff
  font-weight: 300
  overflow: hidden
  // padding: 10px 75px 10px 75px
  height: 50px

  .content-container
    width SITE_WIDTH
    padding: 75px
    margin-top: 20px
    margin-left: 75px
    // line-height 65px
    text-align: right

  .temp_logo
    // margin: auto
    text-align: center
    line-height: 50px
    float: left
    text-transform: uppercase
    color: white
    padding-left: 20px
    padding-right: 20px

  .logo
    float left
    width 200px
    height 65px
    transform-origin -5%
    text-transform: uppercase

  .link
    width: 80px

  .links
    float: left
    padding: 0px 20px 0px 20px
    line-height: 50px
    display: block
    text-align: center
    
    a
      font-size 12px
      display: inline-block
      padding: 0 10px
      position: relative
      &.active
        font-weight bold
        background: rgb(252,69,65)

      &:after
        background: transparent
        content: ""
        height: 4px
        left: 0
        margin-top: -4px
        position: absolute
        top: 67%
        width: 100%

      &:hover:after
        height 4px
        background: rgb(252,69,65)
        top: 100%

      &.active:after
        background: rgb(252,69,65)
        top: 100%
        transition: .2s

.zooniverse-top-bar
  background: transparent
  font-weight: 300
  // margin-right: unit((100 - SITE_WIDTH) / 2, '%')
  svg
    g
      fill #757575

  .corner
    display: none

  .current-user-name
    font-weight: inherit

  .avatar img
    border-radius: 50%

.footer-container
  padding: 20px

  .zooniverse-footer
    float: right

    .logo
      transform: scale(0.4)
    .content
      display: inline
