.site-navigation
  background-color #000
  color: #fff
  font-weight: 300
  overflow: hidden
  padding: 10px 75px 10px 75px
  margin-left: 75px
  margin-right: 75px
  height: auto

  .content-container
    width SITE_WIDTH
    padding: 75px
    margin-top: 20px
    margin-left: 75px
    // line-height 65px
    text-align: right

  .temp_logo
    // margin: auto
    float: left
    text-transform: uppercase
    color: white
    text-align: left

  .logo
    float left
    width 200px
    height 65px
    transform-origin -5%
    text-transform: uppercase

  .links
    display: block
    text-align: center
    margin: auto
    a
      font-size 12px
      padding: 100% 10px 100% 10px
      position: relative
      border: solid thin transparent

      &.active
        background: rgb(252,69,65)
        font-weight bold
        border: solid thin transparent

      &:after
        background: transparent
        border: solid thin transparent


      &:hover
        border: solid thin rgb(252,69,65)
        top: 100%
        transition: 0.2s

      &:hover:after
        height 4px
        background: #5e5e5e
        top: 100%
        border: solid thin transparent


      &.active:after
        background: rgb(252,69,65)
        // top: 100%
        transition: .4s
        border: solid thin transparent

    .link
      width: 60px
      height: auto


.zooniverse-top-bar
  background: transparent
  font-weight: 300
  // margin-right: unit((100 - SITE_WIDTH) / 2, '%')
  svg
    g
      fill #757575

  .corner
    display: none

  .current-user-name
    font-weight: inherit

  .avatar img
    border-radius: 50%

.zooniverse-footer
  padding-left: 75px;
  padding-right: 75px
  display: inline-block
  color: rgb(216,230,232)
  background-color: black

