.site-navigation
  background-color rgba(0,0,0,1)
  color #fff
  font-weight 300
  overflow hidden
  height 50px

  &.home
    background-color rgba(0,0,0,0.25)

  .content-container
    width SITE_WIDTH
    padding 75px
    margin-top 20px
    margin-left 75px
    text-align right

  .logo
    width 200px
    height 50px
    float: left
    color: white
    padding-left: 20px
    padding-right: 20px
    
  #hamburger, #user-icon, #close
    display none

  .links
    float left
    padding 0 0 0 20px
    line-height 50px
    text-align center
    a
      font-size 12px
      color rgb(117,117,117)
      display inline-block
      position relative
      padding 0 20px
      @media screen and (min-width: 1300px)
        padding 0 30px
      
      &.active
        transition all 1s ease
        background rgb(252,69,65)
        color #fff
        &:after
          background rgb(252,69,65)
          top 100%
          transition .2s
      &:after
        background transparent
        content ""
        height 4px
        left 0
        margin-top -4px
        position absolute
        top 67%
        width 100%
      &:hover
        // opacity 1.0
        color #fff
        &:after
          height 4px
          background rgb(252,69,65)
          top 100%

.zooniverse-top-bar
  background transparent
  font-weight 300
  // line-height 3
  svg
    g
      fill #757575
  .corner
    display none
  .current-user-name
    font-weight inherit
  .avatar img
    border-radius 50%

.footer-container
  // padding 20px
  width 100%
  margin 0 auto
  .zooniverse-footer
    float none
    // min-width 1090px
    .zooniverse-logo-container
      width 100%
      transform scale(0.4)
      .zooniverse-logo
         width 100%
         margin-top 50px
    .zooniverse-footer-content
      width 100%
      float none
      .zooniverse-footer-heading
        width 75%
        margin 0 auto
        text-align center
    .zooniverse-footer-projects, .zooniverse-footer-general
      width: 85%
      margin: 30px auto
  #social-media
    height 60px
    line-height 60px
    padding 0 30px
    background-color #0d1214
    #social-icons
      display inline-block
      float right
      img
        opacity 0.8
        height 30px
        margin 0 5px 0 5px
        text-align right
        vertical-align middle
        &:hover
          opacity 1.0
