.zootorial-tutorial {
  background: #fff;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.67);
  box-shadow: 0 3px 5px rgba(0,0,0,0.67);
  color: #000;
  font: 14px "Helvetica Neue", Arial, sans-serif;
  max-width: 33%;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  -moz-transition: opacity 0.5s, -moz-transform 0.5s;
  -o-transition: opacity 0.5s, -o-transform 0.5s;
  -ms-transition: opacity 0.5s, -ms-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  z-index: 1;
}
.zootorial-tutorial button.zootorial-close {
  background: transparent;
  border: 0;
  color: rgba(0,0,0,0.25);
  cursor: pointer;
  font: 16px Arial, sans-serif;
  height: 1em;
  line-height: 1em;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 1em;
}
.zootorial-tutorial button.zootorial-close:hover {
  color: rgba(102,0,0,0.5);
}
.zootorial-tutorial .zootorial-header {
  color: rgba(0,0,0,0.5);
  font-size: 20px;
  margin-bottom: -10px;
  padding: 15px 25px 0 20px;
}
.zootorial-tutorial .zootorial-content {
  padding: 15px 25px 15px 20px;
}
.zootorial-tutorial .zootorial-instruction {
  background: #c3ffa6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  padding: 15px 25px 15px 20px;
}
.zootorial-tutorial .zootorial-instruction[data-zootorial-attention] {
  -webkit-animation: 0.25s zootorial-throb ease-in-out infinite alternate;
  -moz-animation: 0.25s zootorial-throb ease-in-out infinite alternate;
  -o-animation: 0.25s zootorial-throb ease-in-out infinite alternate;
  -ms-animation: 0.25s zootorial-throb ease-in-out infinite alternate;
  animation: 0.25s zootorial-throb ease-in-out infinite alternate;
}
.zootorial-tutorial .zootorial-instruction[data-zootorial-attention="1"] {
  -webkit-animation: 0.5s zootorial-throb ease-in-out infinite alternate;
  -moz-animation: 0.5s zootorial-throb ease-in-out infinite alternate;
  -o-animation: 0.5s zootorial-throb ease-in-out infinite alternate;
  -ms-animation: 0.5s zootorial-throb ease-in-out infinite alternate;
  animation: 0.5s zootorial-throb ease-in-out infinite alternate;
}
.zootorial-tutorial .zootorial-instruction button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-shadow: inherit;
  text-decoration: underline;
}
.zootorial-tutorial .zootorial-instruction button[disabled] {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  pointer-events: none;
}
.zootorial-tutorial .zootorial-footer {
  background: #c3ffa6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}
.zootorial-tutorial .zootorial-footer button {
  background: #fff;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.67);
  box-shadow: 0 2px 3px rgba(0,0,0,0.67);
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  padding: 3px 15px;
  position: relative;
}
.zootorial-tutorial .zootorial-footer button:active {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  top: 1px;
}
.zootorial-tutorial .zootorial-progress {
  text-align: center;
}
.zootorial-tutorial .zootorial-progress-step {
  border: 1px solid #808080;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  margin: 0 3px;
  width: 5px;
}
.zootorial-tutorial .zootorial-progress-step[data-zootorial-progress] {
  background: #808080;
}
.zootorial-tutorial .zootorial-arrow {
  border: 10px solid transparent;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
  height: 0;
  width: 0;
}
.zootorial-tutorial .zootorial-arrow[data-zootorial-position="top"] {
  border-bottom-color: #fff;
  border-top-width: 0;
  top: 0;
}
.zootorial-tutorial .zootorial-arrow[data-zootorial-position="right"] {
  border-left-color: #fff;
  border-right-width: 0;
  margin-left: 0;
  left: 100%;
}
.zootorial-tutorial .zootorial-arrow[data-zootorial-position="bottom"] {
  border-bottom-width: 0;
  border-top-color: #fff;
  margin-top: 0;
  top: 100%;
}
.zootorial-tutorial .zootorial-arrow[data-zootorial-position="left"] {
  border-left-width: 0;
  border-right-color: #fff;
  left: 0;
}
[data-zootorial-actionable] {
  -webkit-animation: 0.5s zootorial-glow ease-in-out infinite alternate;
  -moz-animation: 0.5s zootorial-glow ease-in-out infinite alternate;
  -o-animation: 0.5s zootorial-glow ease-in-out infinite alternate;
  -ms-animation: 0.5s zootorial-glow ease-in-out infinite alternate;
  animation: 0.5s zootorial-glow ease-in-out infinite alternate;
}
@-moz-keyframes zootorial-throb {
  0% {
    background: #c3ffa6;
  }

  100% {
    background: #7cff3d;
  }
}
@-webkit-keyframes zootorial-throb {
  0% {
    background: #c3ffa6;
  }

  100% {
    background: #7cff3d;
  }
}
@-o-keyframes zootorial-throb {
  0% {
    background: #c3ffa6;
  }

  100% {
    background: #7cff3d;
  }
}
@-ms-keyframes zootorial-throb {
  0% {
    background: #c3ffa6;
  }

  100% {
    background: #7cff3d;
  }
}
@keyframes zootorial-throb {
  0% {
    background: #c3ffa6;
  }

  100% {
    background: #7cff3d;
  }
}
@-moz-keyframes zootorial-glow {
  0% {
    -webkit-box-shadow: 0 0 1px 2px #000 inset;
    box-shadow: 0 0 1px 2px #000 inset;
  }

  100% {
    -webkit-box-shadow: 0 0 1px 2px #fff inset;
    box-shadow: 0 0 1px 2px #fff inset;
  }
}
@-webkit-keyframes zootorial-glow {
  0% {
    -webkit-box-shadow: 0 0 1px 2px #000 inset;
    box-shadow: 0 0 1px 2px #000 inset;
  }

  100% {
    -webkit-box-shadow: 0 0 1px 2px #fff inset;
    box-shadow: 0 0 1px 2px #fff inset;
  }
}
@-o-keyframes zootorial-glow {
  0% {
    -webkit-box-shadow: 0 0 1px 2px #000 inset;
    box-shadow: 0 0 1px 2px #000 inset;
  }

  100% {
    -webkit-box-shadow: 0 0 1px 2px #fff inset;
    box-shadow: 0 0 1px 2px #fff inset;
  }
}
@-ms-keyframes zootorial-glow {
  0% {
    -webkit-box-shadow: 0 0 1px 2px #000 inset;
    box-shadow: 0 0 1px 2px #000 inset;
  }

  100% {
    -webkit-box-shadow: 0 0 1px 2px #fff inset;
    box-shadow: 0 0 1px 2px #fff inset;
  }
}
@keyframes zootorial-glow {
  0% {
    -webkit-box-shadow: 0 0 1px 2px #000 inset;
    box-shadow: 0 0 1px 2px #000 inset;
  }

  100% {
    -webkit-box-shadow: 0 0 1px 2px #fff inset;
    box-shadow: 0 0 1px 2px #fff inset;
  }
}
